* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* background: rgb(4, 99, 128);
  background: linear-gradient(
    180deg,
    rgba(4, 99, 128, 1) 22%,
    rgba(199, 190, 203, 1) 100%
  ); */
  /* color: #ffffff; */
  height: 100%;
  background-color: #000;
}

/*===========================
NAVBAR
===========================*/

.nav-banner {
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-banner .banner-tagline {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  /* line-height: 1rem; */
}

.nav-banner .new-span {
  background-color: #e50914;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem 0.2rem 0.55rem;
  border-radius: 0.75rem;
  margin: 0 1rem;
  line-height: 1rem;
}

.nav-banner .price-span {
  margin: 0 0 0 0.2rem;
  font-size: larger;
  font-weight: bold;
}

.nav-banner .learn-more-span {
  margin: 0 0 0 2rem;
  color: #0071eb;
  font-size: smaller;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  /* background-color: #046380; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-token {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  /* background-color: #046380; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#site-title {
  font-size: 5rem;
}

.site-nav-links * {
  margin-left: 1rem;
}

.nav-header {
  z-index: 2;
}

/*===========================
FILMS
===========================*/

.films-container {
  /* background-image: url("https://wallpapercave.com/wp/wp6306757.jpg");
  background-repeat: no-repeat; */
  background-color: #000;
  width: 100%;
  z-index: 0;
}

.opaque-cover {
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 0; */
}

.search-films-form {
  width: 50vw;
  margin: 0 auto 1rem auto;
}

.films-search-input {
  width: 50vw;
  height: 2rem;
  font-size: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75),
    0px 0px 5px 0px rgba(255, 255, 255, 0.25) inset;
  border: none;
}

.films-search-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  transition: 0.33s;
  transform: scale(1.125);
  font-size: 1.125rem;
}

.films-card-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1; */
}

.film-list-container {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
}

.films-list-item {
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  z-index: 1;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.films-list-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  transition: 0.2s;
  transform: scale(1.05);
  z-index: 4;
}

.film-card {
  /* display: flex;
  justify-content: space-between;
  margin: 2rem; */
  /* border: 1px solid #000; */
  /* padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */

  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 3;
  color: #fff;
}

.film-card * {
  display: flex;
  flex-direction: column;
}

.film-card-title,
.film-card-year,
.film-card-img {
  align-items: center;
  justify-content: center;
}

.film-card-title {
  cursor: pointer;
}

.film-card-title:hover {
  text-decoration: underline;
}

.film-card img {
  width: 15rem;
  height: 22rem;
  cursor: pointer;
  margin: 0 auto;
}

.film-card-day-select {
  width: fit-content;
  margin-left: 0.25rem;
}

.film-card:hover {
  /* background-color: #faebd7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9); */
}

.film-card-data {
  /* margin: 1rem; */
}

.film-data-tag {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  color: #0645ad;
  cursor: pointer;
}

.film-description {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow-y: scroll;
}

.film-add-to-cart-btn {
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.film-add-to-cart-btn {
  height: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 0.25rem;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.film-add-to-cart-btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
  transition: 0.2s;
  font-size: 1.2rem;
}

.film-card-days-container {
  display: flex;
  flex-direction: row;
}

.multiple-genre-wrapper {
  margin: 0 0.5rem 0 0;
  padding: 0;
  display: inline-flex;
}

.review-edit-textarea {
  width: 50vw;
  height: 25vh;
  /* resize: none; */
}

/*===========================
LOGIN / Register
===========================*/

.login-reg-form {
  width: fit-content;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 1rem;
  margin: 10vh auto 0 auto;
}

.login-reg-username,
.login-reg-password {
  border: none;
  margin: 1rem 0 1rem;
  height: 3rem;
  width: 40vw;
  font-size: larger;
  background-color: #333333;
  color: #fff;
}

.login-reg-username:focus,
.login-reg-password:focus {
  outline: 1px solid #333333;
  background-color: #494848;
  transition: 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.login-reg-username-2,
.login-reg-password-2 {
  border: none;
  border-bottom: 2px solid #cf8e00;
  margin: 1rem 0 1rem;
  height: 3rem;
  width: 40vw;
  font-size: larger;
  background-color: #333333;
  color: #fff;
}

.login-reg-username-2:focus,
.login-reg-password-2:focus {
  outline: 1px solid #333333;
  background-color: #494848;
  transition: 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.login-reg-sign-in-btn {
  margin-top: 1rem;
  width: 40vw;
  height: 3rem;
  font-size: larger;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-reg-sign-in-btn:hover {
  transition: 0.1s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.login-reg-signup-link {
  color: #ffffff;
  text-decoration: none;
}

.login-reg-signup-link:hover {
  text-decoration: underline;
  /* color: #b3b3b3; */
}

.login-reg-learn-more {
  color: #1f6dff;
}

.login-reg-learn-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-reg-message {
  color: #e87c03;
  font-size: 0.75rem;
}

/*===========================
API-DOCS
===========================*/

.api-docs-list * {
  margin-left: 2rem;
}

.bold {
  margin: 0;
  font-weight: bold;
}

.sample-code {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #111111;
  color: #b2bdbe;
  font-size: 1.125rem;
  display: block;
  white-space: nowrap;
  overflow-x: overlay;
}

.sample-code-error {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #111111;
  color: #1fbeb6;
  font-size: 1.125rem;
  display: block;
  white-space: nowrap;
  overflow-x: overlay;
}

.code-line {
  margin: 0;
  margin-left: 1rem;
}

.code-line-2 {
  margin: 0;
  margin-left: 2rem;
}

.code-line-3 {
  margin-left: 4rem;
}

.code-ex {
  color: #b2bdbe;
}

.code-ex-string {
  color: #1fbeb6;
}

.code-ex-header {
  color: #cf8e00;
}

.code-ex-red {
  color: #ff2323;
}

.code-ex-comment {
  color: #8a8a8a;
}

.endpoint-ex {
  font-size: 1.33rem;
  background-color: #f3f3f3;
  font-weight: bold;
  width: fit-content;
  padding: 0.25rem;
}

.circle-li {
  list-style: circle;
}

/*===========================
FILM
===========================*/

.target-film {
  color: #fff;
}

.film-year-wrapper {
  font-size: 1rem;
  margin-left: 1rem;
}

.similar-films-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.film-img {
  width: 15rem;
  height: 22rem;
}

.focus-film-genre-tags {
  display: flex;
  flex-direction: column;
}

.focus-film-genre-tags * {
  display: flex;
}

.film-page-cart-content {
  display: block;
  margin: 1rem 1rem;
}

.film-page-cart-content * {
  margin-top: 0.125rem;
}

.film-page-cart-content button {
  margin: 0.5rem 0;
}

.view-reviews-toggle {
  margin: 1rem;
  height: 1.25rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 0.25rem;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-reviews-toggle:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
  transition: 0.2s;
}

.add-review-btn {
  margin: 1rem 0;
  height: 1.25rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 0.25rem;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-review-btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
  transition: 0.2s;
}

.review-edit-btn {
  height: 1.25rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 0.25rem;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-edit-btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75),
    0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
  transition: 0.2s;
}

.reviews-container {
  margin: 1rem;
  /* border: 1px solid #fff; */
}

.individual-review-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1rem;
}

.recommended-films-list {
  display: flex;
  flex-wrap: wrap;
}

.recommended-films-list li {
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.33);
  z-index: 1;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.recommended-films {
  color: #fff;
}

.recommended-film-tag {
  margin: 1rem;
  padding: 0.25rem;
  list-style: none;
  border: 1px solid #000;
  width: fit-content;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.recommended-film-tag:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  transition: 0.2s;
  transform: scale(1.05);
}

/*===========================
CART
===========================*/

.cart-container {
  height: 100vh;
  color: #fff;
  background-image: url("https://wallpapercave.com/dwp1x/OGoOmxs.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-items-table {
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 1rem;
}

.cart-items-table tr td {
  padding: 1rem;
}

.cc-payment-form {
  background-color: #fff;
  border: 0.25rem solid rgba(229, 9, 20, 0.75);
  border-radius: 0.5rem;
}

/*===========================
PROFILE
===========================*/

.current-purchase-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.past-purchase-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.all-purchase-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.purchase-item {
  flex-direction: row;
  padding-right: 1rem;
  padding-left: 1rem;
}

.film-purchase-image {
  width: 15rem;
  height: 22rem;
}

.profile-text {
  padding: 1rem;
  text-align: center;
  color: white;
}

.purchase-details {
  text-align: center;
  color: white;
}
